.DS_Store

#Deluge
deluge/*
!deluge/config
deluge/config/*
!deluge/config/core.conf

#Plex
/plex

#Radarr
radarr/*
!radarr/config
radarr/config/*
!radarr/config/nzbdrone.db

#Sonarr
sonarr/*
!sonarr/config
sonarr/config/*
!sonarr/config/nzbdrobe.db

#Jackett
jackett/config

#Plexpy
plexpy/*
!plexpy/config
plexpy/config/*
!plexpy/config/config.ini

#Ombi
requests/*
!requests/config
requests/config/*
!requests/config/Ombi.sqlite

#Organizr
organizr/*
!organizr/config
organizr/config/*
!organizr/config/default.template
